html {
    box-sizing: border-box;
    font-size: 62.5%;
  }

  body {
      font-size: 1.6rem;
      color: #666;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  h3 {
    font-size: 2rem;
  }

  .header {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: rgb(83, 83, 83) solid 1px;
  }

.logo {
    margin-top: 2rem;
}

.nav-bar ul {
    list-style-type: none;
    margin-right: 2rem;
}

.nav-bar ul li {
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
    display: inline-block;
}

  .main {
    margin-top: 120px; /* Add a top margin to avoid content overlay */
  }

  .info {
    width: 100%;
    margin: 10rem auto;
    max-width: 1024px;
  }

  .info ul {
    list-style-type: none;
    padding: 2rem;
  }
  
  .info-list {
    display: flex;
    width: 100%;
    
  }

  .info-list div {
    padding: 2rem;
  }

  .info-icon {
    font-size: 10rem;
    color: #0255A5;
    padding: 2rem;
  }

  .cost {
    width: 100%;
  }

  .cost ul {
    list-style-type: none;
  }

  .cost-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    width: 100%;
    background-color: #EBEBEB;
    padding: 6rem 0;
  }

  .cost-list-item {
    max-width: calc(100% / 3 - 2rem) ;
    background-color: #fff;
    padding: 2rem 1rem;
    border-top: 2px solid #8C7E44;
    margin: 1rem;
  }

  .cost-list-item h3 {
    text-align: center;
  }

  .cost-list-item ul li {
    margin: .5rem 0;
  }

