* {
  margin: 0;
  padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
  }

  body {
      font-size: 1.6rem;
      color: #666;
      background-color: #fff;
      font-family: 'Lato', sans-serif;
      line-height: 2.2rem;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

  h3 {
    font-size: 2rem;
  }

  a {
    color: #0255A5;
    text-decoration: none;
  }

  .header {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;  
    background-color: #fff;
    border-bottom: rgb(83, 83, 83) solid 1px;
  }

  .header-wrapper {
    max-width: 2000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

.logo {
    margin-top: 1rem;
}

.nav-bar {
  margin-top: 1rem;
}

.nav-bar ul {
    list-style-type: none;
    margin-right: 2rem;
    vertical-align: bottom;
}

.nav-bar ul li {
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
    display: inline-block;
}

.nav-bar a {
  text-transform: uppercase;
  font-weight: 700;
  
}

.nav-bar a:hover {
  text-decoration: underline;
}

  .main {
    margin-top: 120px; /* Add a top margin to avoid content overlay */
  }

  .info {
    width: 100%;
    margin: 10rem auto;
    max-width: 1024px;
    background-color: #fff;
  }

  .info ul {
    list-style-type: none;
    padding: 0;
  }
  
  .info-list {
    display: flex;
    width: 100%;
    
  }

  .info-list div {
    padding: 2rem;
  }

  .info-icon {
    font-size: 10rem;
    color: #0255A5;
    padding: 2rem;
  }

  .cost {
    width: 100%;
  }

  .cost ul {
    list-style-type: none;
  }

  .cost-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: auto;
    width: 100%;
    background-color: #EBEBEB;
    padding: 6rem 0;
  }

  .cost-list-item {
    max-width: calc(100% / 3 - 2rem) ;
    background-color: #fff;
    padding: 2rem 1rem;
    border-top: 2px solid #8C7E44;
    margin: 1rem;
  }

  .cost-list-item h3 {
    text-align: center;
  }

  .cost-list-item ul li {
    margin: .5rem 0;
  }

  @media only screen and (max-width: 800px) {
    .cost-list {
      flex-direction: column;
      width: 100%;
    }

    .cost-list-item {
      width: 100%;
      max-width: calc(100% - 2rem) ;
      margin: 1rem;
    }
  }

  .contact {
    display: flex;
    flex-wrap: wrap;
    max-width: 1024px;
    justify-content: space-around;
    align-items: center;
    margin: 10rem auto;
    background-color: #fff;
  }

  .demo {
    margin: 1rem 0;
  }

  .form {
    justify-self: end;
  }

  footer {
    padding: 2rem;
    text-align: right;
  }

  .footer-links {
    list-style-type: none;
  }

  .footer-links li {
    display: inline-block;
    padding: 1rem;
  }

