html {
    box-sizing: border-box;
    font-size: 63.5%;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 1.6rem;
    color: #4d4e53;
}

.nav {
    width: 100%;
    margin: 2rem 0;
}

.navbar__header {
text-align: center;
}

.menu {

}

.menu--vertical {
    list-style-type: none;
    padding: 0;
}

.menu__li {
    padding: 0;
    border: slategrey 1px solid;
    border-bottom: none;
}

.menu__li--last {
    border-bottom: slategray 1px solid;
}

.nav-link {
    color: inherit;
    text-decoration: none;
    width: 100%;
    padding: 1rem 0 1rem 2rem;
    display: inline-block;
}

.nav-link:hover {
    background-color: #4d4e53;
    color: #fff;
}

.main {
    width: 100%;
    padding: 1rem;
}

.code {
    background-color: #f7f7f7;
}

.pre {
    padding: 1rem;
    background-color: #f7f7f7;
    width: 100%;
    overflow: scroll;
}