html {
    box-sizing: border-box;
    font-size: 63.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    height: 3000px;
    width: 100%;
    font-family: Tahoma, sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

.nav {
    background-color: #000;
    color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
}

.nav a {
    color: #fff;
    padding: 1rem;
    text-decoration: none;
}

.nav a:hover {
    border-bottom: 2px solid orangered;
}


.main {
    width: 100%;
}

footer {
    width: 100%;
}

.menu {
    list-style-type: none;
    text-align: right;
}

.menu__item {
    display: inline-block;
    padding: 0;
    margin: 0 1rem;
}

.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    background-color: #000;
    color: #fff;
}

.description {
    background-color: #fff;
    color: #000;
    padding: .5rem;
    text-align: center;
    z-index: 2;
}

.work {
    width: 100%;
    background-color: #fff;
    color: #000;
    margin: 10rem 0;
    padding-top: 5rem;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 400px));
    justify-content: center;
    grid-gap: 2rem;
    padding: 1rem;
}

.project {
    background-color: #e4e4e4;
    border-radius: 1rem;
}

.project a {
    text-decoration: none;
}

.project a:hover {
    text-decoration: underline;
}

.project__name {
    text-align: center;
    color: #000;
}

.show-all {
    width: 100%;
    text-align: center;
}

.show-all a {
    border: 1px solid #000;
    padding: 1rem 6rem;
    border-radius: 0.5rem;
    background-color: #000;
    color: #fff;
    text-decoration: none;
}

.section__header {
    width: 100%;
    text-align: center;
    margin-bottom: 10rem;
    font-size: 3.5rem;
}

.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
}

#contact {
    padding: 5rem 0;
    background-color: #000;
    color: #fff;
}

.contact__link {
    background-color: #fff;
    color: #000;
    margin: 1rem;
    border-radius: 100%;
    width: 10rem;
    height: 10rem;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    line-height: 10rem;
}

.contact__link a {
    transition: color 2s, font-size 2s;
    text-decoration: none;
    color: #000;
}

.contact__link a:hover {
    font-size: 2.5rem;
    color: orangered;
}

.footer {
    text-align: center;
}

.custom-underline::after {
    content: "";
    position: absolute;
  }
  
/*------------------------------------*/
/*------ Basic Underline Styles ------*/
/*------------------------------------*/

.normal-underline,
.custom-underline {
  position: relative;
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

.normal-underline,
.normal-underline:hover {
  color: #000;
  text-decoration: underline;
}

.custom-underline,
.custom-underline:hover,
.custom-underline:focus,
.custom-underline:active {
  text-decoration: none;
}

.custom-underline::after {
  content: "";
  position: absolute;
}


/*--- description ---*/
.description .custom-underline::after {
    top: 100%;
    height: 2px;
    width: 0%;
    left: 0;
    background-color: rgba(12, 12, 12, 0.6);
      transition: 0.5s ease all .3s;
  }
  
  .description:hover .custom-underline::after {
    width: 100%;
      transition: 0.3s ease all;
  }

  canvas {
      position: relative;
  }

  .test {
      position: absolute;
  }

  /*-- Footer --*/
  footer {
      font-size: 1.4rem;
      color: #666;
      line-height: 0.8rem;
  }

  footer a {
      color: #666;
      text-decoration: none;
  }
