html {
    box-sizing: border-box;
    font-size: 63.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    height: 3000px;
    width: 100%;
}

.nav {
    background-color: lightcyan;
    width: 100%;
    position: fixed;
    top: 0;
}

.main {
    width: 100%;
}

footer {
    width: 100%;
}

.menu {
    list-style-type: none;
    text-align: right;
}

.menu__item {
    display: inline-block;
    padding: 1rem;
    margin: 0 3rem;
}

.welcome {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 100%;
    background-color: pink;
}

.work {
    width: 100%;
    background-color: lightcyan;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    padding: 1rem;
}

.project {
    background-color: lightgrey;
}